<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/Logs"/>

  <targets>
    
    <target name="fileTarget" type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target
        type="File"
        fileName="${logDirectory}/${shortdate}.log"
        layout="${level:uppercase=true} | ${date:format=HH\:hh\:ss} ${newline}Name: ${logger} ${newline}Message: ${message} ${newline}${onexception:Exception\: ${exception:format=tostring}${newline}} " />
    </target>
    
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${date:format=HH\:hh\:ss} ${logger} | ${pad:padding=5:inner=${level:uppercase=true}}  -  ${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    
  </targets>

  <rules>
    <logger name="*" minLevel="DEBUG" writeTo="coloredConsole" />
    
    <logger name="Xemio.*" minLevel="DEBUG" writeTo="fileTarget" />
    <logger name="Default" minLevel="DEBUG" writeTo="fileTarget" />
  </rules>

</nlog>
